<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body class="blue">
    <h1>POINT BLANK</h1>
    <p style="text-align:center;color:white;font-size:30px">Virtual Reality At Your Finger Tips</p>
 
<div class="container white circleBehind">
  <button><i class="fa fa-address-book" style="font-size:20px;color:white;"></i></button>
  <a><i class="fa fa-address-book" style="font-size:20px;color:white ;"></i></a>
  <a><i class="fa fa-address-book" style="font-size:20px;color:white;"></i></a>
  <a><i class="fa fa-address-book" style="font-size:20px;color:white ;"></i></a>

  <a><i class="fa fa-address-book" style="font-size:20px;color:white ;"></i></a>

</div>
  </body>
</html>
